*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html {
    overflow: hidden;
}

section {
    height: 100vh;
    text-align:center;
    touch-action: none;
}

section p {
    max-width: 75%;
    margin: 16px auto;
}
img{
    width: 100%;
}